div.contact {
  width: auto;
  font-weight: normal;
  font-family: arial;
  font-style: normal;
  font-size: 24px;
  margin: 1em 1em 1em 1em;
}
body {font-family: arial;
  margin: 1em 1em 1em 1em;
}
p {
  font-size: 1.3em;
  margin: 1em 10em 1em 10em;
  text-align: justify;
}
.nav-bar-item {font-family: arial;
  margin: 1em 5em 5em 1em;
}
ul {
  font-size: 1.1em;
  margin: 1em 10em 1em 10em;
  text-align: justify;

}
h3 {
  margin: 1em 10em 1em 10em;
}
.link {
  margin: 1em 10em 1em 10em;
}
