div.contact {
  width: auto;
  font-weight: normal;
  font-family: arial;
  font-style: normal;
  font-size: 24px;
  margin: 1em 1em 1em 1em;
}
body {font-family: arial;
  margin: 1em 1em 1em 1em;
}
p {
  font-size: 1.3em;
  text-align: justify;
}
@media only screen and (min-width: 900px)
{
  .link {font-family: arial;
  margin: 1em 5em 1em 5em;
  }
}
.link {font-family: arial;
}
ul {
  font-size: 1.1em;
  text-align: justify;

}
@media only screen and (min-width: 900px)
{
  ul {	
  margin: 1em 10em 1em 10em;
  }
  h3 {
  margin: 1em 10em 1em 10em;
  }
  p {
  margin: 1em 10em 1em 10em;
  }
}
